<h1>Add Blog Post</h1>
<form [formGroup]="ngForm" #form="ngForm" (ngSubmit)="addBlogPost()">
    <div class="row">
        <div class="col mb-10">
            <label class="form-label">Username:</label>
            <input class="form-control" formControlName="userName" type="text" />
            <div *ngIf="ngForm.controls['userName'].invalid && ngForm.controls['userName'].touched ">
                <p class="error-message" *ngIf="ngForm.controls['userName'].errors?.['required']">
                    User Name is required!
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-10">
            <label class="form-label">Text:</label>
            <textarea class="form-control" formControlName="text"></textarea>
            <div *ngIf="ngForm.controls['text'].invalid && ngForm.controls['text'].touched ">
                <p class="error-message" *ngIf="ngForm.controls['text'].errors?.['required']">
                    Text is required!
                </p>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div cla="row">
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid"> Add Post</button>
            <a routerLink="/blog/blog-list" class="btn btn-link">Cancel</a>
        </div>
    </div>
</form>